.Movies__Movie {
  position: relative;
  min-width: 320px;
  height: 180px;
  border-radius: 18px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.35s ease;
}

.Movies__Movie:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 24px rgba(0,0,0,0.6);
}

.Movies__Movie img {
  width: 100%;
  height: 240px;
  object-fit: cover;

}

