<section class="MovieDetails__container">
    <img class="MovieDetails__image" src="../server/images/{{image}}" alt="{{name}}">
    <button class="MovieDetails__backBtn" onclick="C.backToMovies()">Retour</button>
    <h1 class="MovieDetails__name">{{name}}</h1>
    <p class="MovieDetails__desc">{{description}}</p>
    <h3 class="MovieDetails__director">Directed by {{director}}</h3>
    <p class="MovieDetails__year">Year : {{year}}</p>
    <p class="MovieDetails__category">Category : {{category}}</p>
    <p class="MovieDetails__age">Minimum age : {{min_age}}</p>
    <iframe class="MovieDetails__trailer" src="{{trailer}}" allowfullscreen></iframe>
</section>