body {
    margin: 0;
    font-family: var(--ff-inter);
    background: #0b0b0d;
    color: white;
}

* {
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
}

section {
    width: 100%;
}