.navbar {
  display: flex;
  align-items: left;
  gap: 2rem;
  padding: 1rem 3rem;
  color: var(--color-fg);
  background-color: var(--color-bg);

  .navbar__item {
    padding: 0.5rem 1rem; 
    cursor: pointer;
    &:hover {
      color: var(--color-gray);
      text-decoration: underline;
      text-decoration-color: orange;
      text-decoration-thickness: 0.1rem;
      text-underline-offset: 0.2rem;
    }
  }
}

.navbar__list {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.navbar__logo {
  height: 36px;
  width: auto;
  margin-right: 1rem;
  object-fit: contain;
}